datetime
matplotlib==3.2.2
numpy
pandas
plotly
scikit-learn
scipy

pytest
black
wheel # to publish the package
twine # to publish the package

# TO INSTALL FBPROPHET:
# 1. manually install c++ compiler: conda install libpython m2w64-toolchain -c msys2
# 2. manually install pystan: pip install pystan
# 2. manually install fbprophet: pip install fbprophet